@import "tailwindcss";

 .timer {
     background: conic-gradient( oklch(0.7 0.08 217) 100%, #444 0 );
     -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 2vw), black 0);
     mask: radial-gradient(farthest-side, transparent calc(100% - 2vw), black 0);
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@theme {
    --animate-fade-in: fade-in 0.3s ease-out;
}